header {
    background-color: #1b1b1b;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
}

header h1 {
    color: #f5f5f5;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    justify-content: center;
    height: 800px;
    Width:1000px;
    margin: 0 auto;
    background-color: #1b1b1b;
}


#app {
    text-align: center;
    border-radius: 2%;
    height: 800px;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.top-picture{
    height: 600px;
    background-size: cover;
    background-position: center;
}

.top-picture img{
    height: 600px;
}

.rule{
    height:100px;
}


.rule h2{

    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #1b1b1b;
}
.rule p{
    font-size: 15px;
    color: #1b1b1b;
    padding-top: 10px;
}

.next-page{
    margin-top: 20px;
    display: inline-block;
    padding: 0.8em 3em;
    background-color: #393939; /* 背景色 */
    box-shadow: 0 5px 0 #151515; /* 影の太さ・色 */
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
}
.next-page a{
    color: #fff;
    text-decoration: none; /* 文字の下線を消す */
}

.next-page:active {
    box-shadow: none;
    transform: translateY(5px);
  }

/* ここまでがトップページ */

